<app-header></app-header>
<section class="hero-section">
    <div class="grid gap-0 row-gap-3">
        <div class="text1" style="color: white;">Your Gateway to Hassle-Free</div>
        <div class="text1" style="color: #83CD20;">Visa Bookings</div>
        <div class="text2">Fast, Reliable, and Secure Visa Applications for All Destinations</div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label class="search-label">Hey Traveler, Search Your Destination</mat-label>
                <input matInput>
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </div>
    </div>
</section>

<div class="content">
    <div class="text3">Why Choose Us?</div>
</div>
<div class="content">
    <div class="horizontal-line"></div>
</div>

<div class="row" style="margin: 3% 5% 0 5%;">
    <div class="col card-col">
        <div class="card">
            <img src="assets/images/FastProcessing .png" class="card-img-top fixed-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fast Processing <br>Times</h5>
            </div>
        </div>
    </div>
    <div class="col card-col">
        <div class="card">
            <img src="assets/images/CustomerSupport.png" class="card-img-top fixed-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">24/7 Customer <br>Support</h5>
            </div>
        </div>
    </div>
    <div class="col card-col">
        <div class="card">
            <img src="assets/images/SecureOnlinePayments.png" class="card-img-top fixed-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Secure Online <br>Payments</h5>
            </div>
        </div>
    </div>
    <div class="col card-col">
        <div class="card">
            <img src="assets/images/ExpertGuidance.png" class="card-img-top fixed-img" alt="...">
            <div class="card-body">
                <h5 class="card-title">Expert Guidance <br>for All Visa Types</h5>
            </div>
        </div>
    </div>
</div>

<div class="content" style="margin-top: 5%;">
    <div class="text3">Travel Around The World Hassle-Free</div>
</div>
<div class="content">
    <div class="horizontal-line"></div>
</div>


<div class="col-6 col-md-3 country-col">
    <div class="card country-card">
        <img src="assets/images/vietnam.png" class="card-img-top .country-img" alt="...">
        <div class="card-body row justify-content-between">
            <div class="col-7 countryName">Vietnam</div>
            <div class="col-5 align-end">
                <button class="btn visa-btn">Visa Type</button>
            </div>
        </div>
        <div class="card-body row justify-content-between">
            <div class="col-6">
                <label class="card-lable" for="Per Person">Per Person</label>
                <p class="price">₹3998</p>
            </div>
            <div class="col-5 align-end">
                <label class="card-lable" for="Per Person">Get Visa in</label>
                <p class="price">7 Days</p>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-md-3 country-col">
    <div class="card country-card">
        <img src="assets/images/UAE.png" class="card-img-top" alt="...">
        <div class="card-body row justify-content-between">
            <div class="col-7 countryName">UAE</div>
            <div class="col-5 align-end">
                <button class="btn visa-btn">Visa Type</button>
            </div>
        </div>
        <div class="card-body row justify-content-between">
            <div class="col-6">
                <label class="card-lable" for="Per Person">Per Person</label>
                <p class="price">₹3998</p>
            </div>
            <div class="col-5 align-end">
                <label class="card-lable" for="Per Person">Get Visa in</label>
                <p class="price">7 Days</p>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-md-3 country-col">
    <div class="card country-card">
        <img src="assets/images/egypt.png" class="card-img-top" alt="...">
        <div class="card-body row justify-content-between">
            <div class="col-7 countryName">Egypt</div>
            <div class="col-5 align-end">
                <button class="btn visa-btn">Visa Type</button>
            </div>
        </div>
        <div class="card-body row justify-content-between">
            <div class="col-6">
                <label class="card-lable" for="Per Person">Per Person</label>
                <p class="price">₹3998</p>
            </div>
            <div class="col-5 align-end">
                <label class="card-lable" for="Per Person">Get Visa in</label>
                <p class="price">7 Days</p>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-md-3 country-col">
    <div class="card country-card">
        <img src="assets/images/indonesia.png" class="card-img-top" alt="...">
        <div class="card-body row justify-content-between">
            <div class="col-7 countryName">Indonesia</div>
            <div class="col-5 align-end">
                <button class="btn visa-btn">Visa Type</button>
            </div>
        </div>
        <div class="card-body row justify-content-between">
            <div class="col-6">
                <label class="card-lable" for="Per Person">Per Person</label>
                <p class="price">₹3998</p>
            </div>
            <div class="col-5 align-end">
                <label class="card-lable" for="Per Person">Get Visa in</label>
                <p class="price">7 Days</p>
            </div>
        </div>
    </div>
</div>
<div class="col-6 col-md-3 country-col">
    <div class="card country-card">
        <img src="assets/images/hongKong.png" class="card-img-top" alt="...">
        <div class="card-body row justify-content-between">
            <div class="col-7 countryName">China</div>
            <div class="col-5 align-end">
                <button class="btn visa-btn">Visa Type</button>
            </div>
        </div>
        <div class="card-body row justify-content-between">
            <div class="col-6">
                <label class="card-lable" for="Per Person">Per Person</label>
                <p class="price">₹3998</p>
            </div>
            <div class="col-5 align-end">
                <label class="card-lable" for="Per Person">Get Visa in</label>
                <p class="price">7 Days</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<app-footer></app-footer>