<app-header></app-header>
<section class="backgroundImg">
    <div style="padding-left: 2%; margin-top: -10%;">
        <div class="font-1 title">FAQ</div>
    </div>
</section>

<div class="faq-container">
    <div class="faq-grid-two-col">
        <mat-accordion>
            <mat-expansion-panel *ngFor="let faq of leftFaqs" class="faq-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ faq.question }}</mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ faq.answer }}</p>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let faq of rightFaqs" class="faq-panel">
                <mat-expansion-panel-header>
                    <mat-panel-title>{{ faq.question }}</mat-panel-title>
                </mat-expansion-panel-header>
                <p>{{ faq.answer }}</p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>

<div class="containerOne">
    <div class="left-column">
        <img src="assets/images/passport.jpg" alt="Travel Expert" class="travel-image" loading="lazy"/>
    </div>

    <div class="right-column">
        <h2 class="heading">Still Have Questions? We’re Here To Help.</h2>
        <p class="desc">
            Our team of visa experts is ready to guide you through every step of your migration journey. Whether you're
            unsure about your eligibility or need help choosing the right visa, we’re just a message away.
            Contact us today and take the first step toward your new future with confidence.
        </p>
        <div class="mb-3">
            <button class="btn login-btn" (click)="pageNavigate('contact')">Contact us &nbsp;<i
                    class="zmdi zmdi-arrow-right"></i></button>
        </div>
        <div class="exp-box content-row">
            <div class="col">
                <div class="number">10K+</div>
                <div>Successful Visa Applications</div>
            </div>
            <div class="col">
                <div class="number">95% </div>
                <div>Approval Rate on First Submissions</div>
            </div>
            <div class="col">
                <div class="number">48 +</div>
                <div>Hour Response Time on All Queries</div>
            </div>
            <div class="col">
                <div class="number">25+ </div>
                <div>Countries Covered</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>