.active-link {
    font-weight: bold;
    background-color: #b9ffb9;
}

.container {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
}

.sidebar {
    width: 285px;
    background-color: #f4f6fa;
    padding: 1rem;
}

.content {
    flex: 1;
    padding: 2rem;
    height: 465px !important;
    overflow: auto;
}

.heading {
    color: #0c6736;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

li {
    font-size: 17px;
    line-height: 23px;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 1rem 0.5rem;
    }

    .content {
        padding: 1rem;
    }

    .heading {
        font-size: 24px;
        line-height: 30px;
    }

    li {
        font-size: 16px;
        line-height: 28px;
    }
}