<app-header></app-header>

<div class="backgroundImg content-row">
    <div class="row">
        <div class="col-12 font-1 title">{{this.countryName}} Tourist Visa For Indians</div>
    </div>
</div>

<div class="box">
    <div style="font-size: 23px; font-weight: bolder;">Visa Type</div>
    <p class="mt-2" style="font-size: 15px;">Kindly select your preferred visa type as per the requirement</p>

    <div class="visa-container mt-5">
        <div class="visa-card green">
            <div class="card-left">
                <h3>Multiple Entry</h3>
                <ul>
                    <li><span>Visa Types:</span> eVisa</li>
                    <li><span>Stay duration:</span> 90 Days</li>
                    <li><span>Visa validity:</span> 365 Days</li>
                    <li><span>Processing time:</span> 15 days</li>
                </ul>
            </div>
            <div class="card-right">
                <a href="#" class="apply-btn" (click)="pageNavigate('login')">Start Application</a>
                <div class="price">₹1,799 per adult</div>

            </div>
        </div>

        <div class="visa-card light-green">
            <div class="card-left">
                <h3>Single/Multiple Entry</h3>
                <ul>
                    <li><span>Visa Types:</span> eVisa</li>
                    <li><span>Stay duration:</span> 90 Days</li>
                    <li><span>Visa validity:</span> 365 Days</li>
                    <li><span>Processing time:</span> 15 days</li>
                </ul>

            </div>
            <div class="card-right">
                <a href="#" class="apply-btn" (click)="pageNavigate('login')">Start Application</a>
                <div class="price">₹3,999 per adult</div>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <h1><strong>List of Essential Documents</strong></h1>
    <div class="box">
        <div>
            <h3><strong>Passport</strong></h3>
            <ul>
                <li>A valid passport with at least 6 months of validity from the date of departure.</li>
                <li>Handwritten passports and passports exceeding 10 years are unacceptable.</li>
                <li>A scanned copy of a coloured passport copy.</li>
            </ul>
        </div>
        <div>
            <h3><strong>Photographs</strong></h3>
            <ul>
                <li>The digital photograph must be clicked within the last 3 months.</li>
                <li>The image should be clicked against a plain white background.</li>
            </ul>
        </div>
    </div>

    <div class="box">
        <h2>Travel Details</h2>
        <div>
            <h3><strong>Return Ticket</strong></h3>
            <ul>
                <li>A copy of confirmed arrival and departure tickets must be submitted.</li>
            </ul>
        </div>
        <div>
            <h3><strong>Additional Requirement</strong></h3>
            <ul>
                <li>A visa must be applied one month prior to the travel date.</li>
            </ul>
        </div>
        <div>
            <h3><strong>Hotel Reservations</strong></h3>
            <ul>
                <li>A copy showing the confirmed hotel reservation, along with its address, contact details, applicant's
                    name and reservation date details must be submitted.</li>
            </ul>
        </div>
    </div>

    <div class="box">
        <h2>Conditional Requirements </h2>
        <p>Conditions of Staying with Family or Friends</p>
        <div>
            <h3><strong>Inviter Passport</strong></h3>
            <ul>
                <li>A valid copy of the ID/passport of the person inviting.</li>
            </ul>
        </div>
        <div>
            <h3><strong>Inviter Address</strong></h3>
            <ul>
                <li>Details about the inviter's permanent address and contact number.</li>
            </ul>
        </div>
    </div>

    <div class="box">
        <h1>Processing Times</h1>
        <p>Get all the information regarding the Embassy Consultation</p>
        <div class="info-container">
            <div class="info-item" style="justify-content:flex-start;">
                <div class="icon"><i class="zmdi zmdi-check-circle" style="color: greenyellow;"></i></div>
                <div class="content">
                    <div><strong>Standard Processing Time</strong></div>
                    <div>Estimated Date {{date}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <h1 class="text-center mt-4">Assistance Services</h1>
        <p class="text-center mb-4">Please choose one of the processing time options as per your preference.</p>
        <div class="row g-4">
            <div class="col-12 col-md-4">
                <div class="service-card text-center">
                    <div class="pb-2"><strong>Consultation Services</strong></div>
                    <img src="assets/images/Consultation.png" alt="Consultation Services"
                        class="service-image img-fluid" />
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="service-card text-center">
                    <div class="pb-2"><strong>Document Preparation</strong></div>
                    <img src="assets/images/Document.png" alt="Document Preparation" class="service-image img-fluid" />
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="service-card text-center">
                    <div class="pb-2"><strong>Express Services</strong></div>
                    <img src="assets/images/Express.png" alt="Express Services" class="service-image img-fluid" />
                </div>
            </div>
        </div>
    </div>

    <div class="box">
        <h1>Track Your Visa Timeline</h1>
        <p>Stay updated on your visa application progess right here.</p>

        <div class="mat-elevation-z8 mt-3" style="overflow: auto;">
            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef>No</th>
                    <td mat-cell *matCellDef="let element"> {{element.No}} </td>

                </ng-container>
                <!-- Entry Column -->
                <ng-container matColumnDef="Entery">
                    <th mat-header-cell *matHeaderCellDef>Entery</th>
                    <td mat-cell *matCellDef="let element"> {{element.Entery}} </td>
                </ng-container>

                <!-- Visa Types Column -->
                <ng-container matColumnDef="Visa Types">
                    <th mat-header-cell *matHeaderCellDef> Visa Types </th>
                    <td mat-cell *matCellDef="let element"> {{element.VisaTypes}} </td>
                </ng-container>

                <!-- Stay Duration Column -->
                <ng-container matColumnDef="Stay duration">
                    <th mat-header-cell *matHeaderCellDef> Stay Duration </th>
                    <td mat-cell *matCellDef="let element"> {{element.Stayduration}} </td>
                </ng-container>

                <!-- Visa Validity Column -->
                <ng-container matColumnDef="Visa validity">
                    <th mat-header-cell *matHeaderCellDef> Visa Validity </th>
                    <td mat-cell *matCellDef="let element"> {{element.VisaValidity}} </td>
                </ng-container>

                <!-- Processing Time Column -->
                <ng-container matColumnDef="Processing time">
                    <th mat-header-cell *matHeaderCellDef> Processing Time </th>
                    <td mat-cell *matCellDef="let element"> {{element.ProcessingTime}} </td>
                </ng-container>

                <!-- Price Column -->
                <ng-container matColumnDef="Prince">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.Prince}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>


    </div>

</div>
<app-footer></app-footer>