<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <span style="color:#83CD20; font-style: italic;">visa</span>
            <span style="color: #034833; font-family: Public Sans; padding-left: 1px;">Booking</span>
        </div>

        <div class="link mt-3">
            <a class="details" href="">Home</a>
            <a class="details" href="/contact">Contact Us</a>
            <a class="details" href="/about">About</a>
            <a class="details" href="/blog">Blogs </a>
            <a class="details" href="/faq">FAQs</a>
        </div>

        <div class="footer-divider"></div>

        <div class="link">
            <a class="details" href="#">Privacy Policy</a>
            <a class="details" href="#">Refund & Cancellation Policy</a>
            <a class="details" href="#">Terms & Conditions</a>
            <a class="details" href="#">Pricing</a>
        </div>

        <div class="link mt-3">
            © visabooking 2025 | All Rights Reserved
        </div>

    </div>
</footer>