<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <span style="color:#83CD20; font-style: italic;">visa</span>
            <span style="color: #034833; font-family: Public Sans; padding-left: 1px;">Booking</span>
        </div>

        <div class="link mt-3">
            <a class="details" (click)="pageNavigate('')">Home</a>
            <a class="details" (click)="pageNavigate('contact')">Contact Us</a>
            <a class="details" (click)="pageNavigate('about')">About</a>
            <a class="details" (click)="pageNavigate('blog')">Blogs </a>
            <a class="details" (click)="pageNavigate('faq')">FAQs</a>
        </div>

        <div class="footer-divider"></div>

        <div class="link">
            <a class="details" (click)="selectRoute('Privacy')">Privacy Policy</a>
            <a class="details" (click)="selectRoute('Refund')">Refund & Cancellation Policy</a>
            <a class="details" (click)="selectRoute('Terms')">Terms & Conditions</a>
            <a class="details" (click)="selectRoute('Cookie')">Cookie Policy</a>
        </div>

        <div class="link mt-3">
            © visabooking 2025 | All Rights Reserved
        </div>

    </div>
</footer>