<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <span style="color:#83CD20; font-style: italic;">visa</span>
            <span style="color: #034833; font-family: Public Sans; padding-left: 1px;">Booking</span>
        </div>

        <div class="link mt-3">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact Us</a>
            <a href="#">FAQs</a>
            <a href="#">Blogs</a>
        </div>

        <div class="footer-divider"></div>

        <div class="link">
            <a href="#">Privacy Policy</a>
            <a href="#">Refund & cancellation policy</a>
            <a href="#">Pricing</a>
            <a href="#">Terms & conditions</a>
        </div>

        <div class="link" style="margin-top: 1%;">
            © visabooking 2024 | All Rights Reserved
        </div>
    </div>
</footer>