<!-- <app-header></app-header> -->
<div class="brandName" (click)="pageNavigate('')">
    <span style="color:#83CD20; font-style: italic;"><i class="zmdi zmdi-home"></i></span>
    <span style="color: #034833; font-family: Public Sans;">Home</span>
</div>
<div class="containerOne">
    <div class="left-column">
        <img src="assets/images/login.png" alt="visa" class="travel-image" />
    </div>
    <div class="right-column">
        <div class="content-row mb-4" style="flex-direction: column;">
            <h2 class="heading">Welcome To Migrate Visa</h2>
            <p class="section-title">Sign up/Login using your mobile number &nbsp;<i class="zmdi zmdi-account-add"></i>
            </p>
        </div>
        <form #contactUsForm="ngForm">
            <ng-container *ngIf="isUser">
                <div class="row">
                    <div class="col pb-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput name="email" [(ngModel)]="email" #emailModel="ngModel" required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [disabled]="isOTPSend && !ResendOTP" />
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="emailModel.invalid && emailModel.touched">
                                <div *ngIf="emailModel.hasError('required')">Please enter an email</div>
                                <div *ngIf="emailModel.hasError('pattern')">Enter a valid email</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="content-row pb-4" *ngIf="isOTPSend">
                    <ng-otp-input (onInputChange)="onOtpChange($event)"
                        [config]="{ length: 5, allowNumbersOnly: true,isPasswordInput: true }"></ng-otp-input>
                </div>
                <div class="col content-row mt-3">
                    <button *ngIf="!isOTPSend" class="contact-btn" type="submit"
                        [disabled]="isLoading || !contactUsForm.valid" (click)="sendOtp()">
                        <span *ngIf="!this.isLoading">Send OTP</span>
                        <i *ngIf="this.isLoading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                    </button>
                    <button *ngIf="isOTPSend" class="contact-btn" type="submit" [disabled]="!isOtpComplete || isLoading "
                        (click)="verify()">Verify OTP</button>
                        &nbsp;
                    <button *ngIf="isOTPSend" class="contact-btn" type="submit" [disabled]="!ResendOTP || isLoading"
                        (click)="sendOtp()">
                        <span *ngIf="!ResendOTP && !this.isLoading">Resend in {{ countdown }}s</span>
                        <span *ngIf="ResendOTP && !this.isLoading">Resend OTP</span>
                        <i *ngIf="this.isLoading" class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                    </button>
                </div>
            </ng-container>
        </form>
        <ng-container *ngIf="isAdmin">
            <form #admin="ngForm">
                <div class="row" style="flex-direction: column;">
                    <div class="col pb-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Enter Your Email</mat-label>
                            <input matInput name="email" [(ngModel)]="email" #emailModel="ngModel" required
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" />
                            <mat-icon matSuffix>mail</mat-icon>
                            <mat-error *ngIf="emailModel.invalid && emailModel.touched">
                                <div *ngIf="emailModel.hasError('required')">Please enter an email</div>
                                <div *ngIf="emailModel.hasError('pattern')">Enter a valid email</div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col pb-2">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Enter Your Password</mat-label>
                            <input class="password" matInput name="pass" [(ngModel)]="password" #pass="ngModel" required
                                pattern=".{6,}" />
                            <mat-icon *ngIf="!pass.invalid" matSuffix>lock_open</mat-icon>
                            <mat-icon *ngIf="pass.invalid" matSuffix>lock</mat-icon>
                            <mat-error *ngIf="pass.invalid && pass.touched">
                                <div *ngIf="pass.hasError('required')">Please enter a password</div>
                                <div *ngIf="pass.hasError('pattern')">Enter minimum 6 characters</div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col content-row mt-3">
                    <button class="contact-btn" type="submit" [disabled]="!admin.valid"
                        (click)="verifyAdmin(email,password)">Login</button>
                </div>
            </form>
        </ng-container>

        <div class="pt-4 content-row section-title" style="font-size: 12px; text-transform: capitalize;">
            By Continuing, You agree to our&nbsp;<a (click)="openDialog(termsTemplate)">terms & condtions</a>
        </div>
        <div *ngIf="isUser &&  !isLoading" class="content-row section-title user" (click)="changeUser()">Admin Login</div>
        <div *ngIf="isAdmin && !isLoading" class="content-row section-title user" (click)="changeUser()">User Login</div>
    </div>
</div>

<ng-template #termsTemplate>
    <div class="terms-popup container" style="padding: 5%;">
        <h2>Terms & Conditions</h2>
        <p style="font-size: 15px;">
            Your Terms & Conditions content goes here. You can provide detailed information about your Visa website’s
            policies, rules, and usage.
        </p>
    </div>
</ng-template>