/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0;}
body, p, h1, h2, h3, h4, h5, h6, span, a, li, button, label, div, strong, em {
    font-family: 'Public Sans', sans-serif;
}

@import 'ngx-toastr/toastr';

.toast-bottom-center {
  bottom: 20px;
  right: 20px;
  margin: 0 auto;
  position: fixed !important;
}